USE [master]
GO
/****** Object:  Database [health_dataset]    Script Date: 4/15/2026 7:14:56 PM ******/
CREATE DATABASE [health_dataset]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'health_dataset', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\health_dataset.mdf' , SIZE = 466944KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'health_dataset_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\health_dataset_log.ldf' , SIZE = 2760704KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [health_dataset].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [health_dataset]
GO
/****** Object:  Table [dbo].[Admit]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admit](
	[admission_type] [nvarchar](50) NULL,
	[date_of_admission] [date] NOT NULL,
	[discharge_date] [date] NULL,
	[billing_amount] [float] NULL,
	[room_number] [int] NULL,
	[patient_id] [int] NOT NULL,
	[hospital_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
 CONSTRAINT [PK_Admit] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC,
	[hospital_id] ASC,
	[doctor_id] ASC,
	[date_of_admission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[doctor_id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[healthcare_dataset]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[healthcare_dataset](
	[Name] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Blood_Type] [nvarchar](50) NOT NULL,
	[Medical_Condition] [nvarchar](50) NOT NULL,
	[Date_of_Admission] [date] NOT NULL,
	[Doctor] [nvarchar](50) NOT NULL,
	[Hospital] [nvarchar](50) NOT NULL,
	[Insurance_Provider] [nvarchar](50) NOT NULL,
	[Billing_Amount] [float] NULL,
	[Room_Number] [smallint] NOT NULL,
	[Admission_Type] [nvarchar](50) NOT NULL,
	[Discharge_Date] [date] NOT NULL,
	[Medication] [nvarchar](50) NOT NULL,
	[Test_Results] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[hospital_id] [int] IDENTITY(1,1) NOT NULL,
	[hospital_name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medication]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medication](
	[medication_id] [int] IDENTITY(1,1) NOT NULL,
	[medication_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[medication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[patient_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[gender] [nvarchar](10) NULL,
	[blood_type] [nvarchar](5) NULL,
	[insurance_provider] [nvarchar](100) NULL,
	[medical_condition] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescribe]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescribe](
	[patient_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[medication_id] [int] NOT NULL,
	[prescription_date] [date] NULL,
	[dosage] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC,
	[doctor_id] ASC,
	[medication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 4/15/2026 7:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[testresult_id] [int] IDENTITY(1,1) NOT NULL,
	[result] [nvarchar](100) NULL,
	[patient_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[testresult_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admit]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([doctor_id])
GO
ALTER TABLE [dbo].[Admit]  WITH CHECK ADD FOREIGN KEY([hospital_id])
REFERENCES [dbo].[Hospital] ([hospital_id])
GO
ALTER TABLE [dbo].[Admit]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Prescribe]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([doctor_id])
GO
ALTER TABLE [dbo].[Prescribe]  WITH CHECK ADD FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medication] ([medication_id])
GO
ALTER TABLE [dbo].[Prescribe]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
USE [master]
GO
